<h1><%=link_to "MyWeatherTrip", root_path %></h1>

<div>
  <div>
    <ol>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li>create your trip</li>
      <li>add each step</li>
      <li>have updated forecast for each stap at the day you want</li>
      <li>enjoy travel</li>
    </ol>
  </div>
</div>