<div class='row'>
  <h1>MyWeatherTrip<span class='beta'>beta</span></h1>
</div>

<div class='center'>
<%if current_user.present?%>
  <%= link_to "enter", trips_path,{:class =>"btn btn-success btn-lg active", :role => "button"}  %>
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {class: 'btn btn-primary' } %>
<% end %>
</div>

<div>
<div class='row'>
  <div class='col-md-5 col-md-offset-1'>
    <ol>
      <li><%= link_to 'Register', new_user_registration_path %></li>
      <li>create your trip</li>
      <li>add each step</li>
      <li>look the forecasts for given date</li>
      <li>enjoy travel</li>
    </ol>
  </div>

  <div class='col-md-5 col-md-offset-1'>
      <blockquote>
        "A journey of a thousand miles begins with a single step."
        <footer>Lao-tzu</footer>
      </blockquote>
  </div>
</div>