
.footer{
  text-align: center;
}​

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF8F40;
}


.table {
  margin-top: 20px;
}

/*homepage*/

.center {
  margin: 0 auto;
  text-align: center;
}

li {
  font-size: 25px;
  line-height: 1.35em;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #FF6A00;
  margin-bottom: 40px;
}

blockquote {
  font-size: 40px;
  color: #007439;
  line-height: 1.8em;
  font-style: italic;

}

/* style for input trip desctiption */

.description {
  width: 300px;
}


/*comment ex. min 8 character for password in log on*/

.comment {
  font-style: italic;
  font-size: 12px;
}

/*style for trip block in trip list*/

.form-inline {
  margin-bottom: 10px;
}

.trip {
  background-color: #71CA9D;
  border-radius: 20px;
  margin-top: 10px;
  height: 112px;
}


.trip a {
  color: #034769;
}

.trip:hover{
  background-color: #228653;
}


/* style for login */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}