
body {
  min-height: 500px;
  background-image: url('background-light.png');
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #FF6A00;
  margin-bottom: 40px;
}

.beta {
  color: #1D1D1D;
  font-size: 35px;
}

.footer{
  text-align: center;
  min-height: 30px;
}​

.navbar-fixed-bottom {
  height: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF8F40;
}


.table {
  margin-top: 20px;
}

/*homepage*/

.navbar-inverse .navbar-brand  {
  color: #FF8F40;
}

.center {
  margin: 0 auto;
  text-align: center;
}

li {
  font-size: 25px;
  line-height: 1.35em;
}



blockquote {
  font-size: 40px;
  color: #007439;
  line-height: 1.8em;
  font-style: italic;

}

/* style for input trip desctiption */

.description {
  width: 300px;
}


/*format day select in new step form*/

.date_select {
  display: inline-block;
  width: auto;
}

.number_select {
  width: 50px;
}

/*comment ex. min 8 character for password in log on*/

.comment {
  font-style: italic;
  font-size: 12px;
}

/*style for trip block in trip list*/

.form-inline {
  margin-bottom: 10px;
}

.trip {
  background-color: #71CA9D;
  border-radius: 20px;
  margin-top: 10px;
  height: 112px;
  color : #1D1D1D;
}

.trip:hover{
  background-color: #228653;
}

.delete_icon {
  margin-top: 10px; 
}


.bold {
  font-weight: bold;
}


.table > tbody > tr > td {
  vertical-align: middle;
}

.tab_forecast {
  font-style: italic;
  font-size: 10px;
}

.tab_center {
  text-align: center;
}

/* style for login */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/*icons*/
i {
  background-image: url('cssSpritePro.png');
  display: inline-block;
}
i.Clear  {
  background-position: 0px 0px;
  height: 24px;
  width: 24px;
}
i.Clouds  {
  background-position: -24px 0px;
  height: 19px;
  width: 24px;
}
i.delete  {
  background-position: 0px -24px;
  height: 32px;
  width: 32px;
}
i.delete:hover  {
  background-position: -32px -24px;
  height: 32px;
  width: 32px;
}
i.Rain  {
  background-position: -64px -24px;
  height: 24px;
  width: 24px;
}
i.Snow  {
  background-position: -88px -24px;
  height: 22px;
  width: 24px;
}
 
